.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px auto 0;
}

.container .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container .title h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 0;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.container .link {
    text-decoration: none;
}

.container button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.5 ease;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(10, 205, 10);
    color: white
}

.update {
    background-color: blue;
    color: white;
    padding: 10px;
}

.delete {
    background-color: red;
    color: white;
    padding: 10px;
}

.tableInfo {
    border-collapse: collapse;
    margin: 5px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
}

.tableInfo td,
.tableInfo th {
    border: 3px solid #ddd;
    padding: 8px;
    font-family: 'Comfortaa', cursive;
}

.tableInfo tr {
    background-color: rgba(242, 242, 242, 0.8);
}

.tableInfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #bc0b27;
    color: white;
}

.tableInfo tr:hover {
    background-color: rgba(208, 206, 180, 0.9);
}

.container button:hover {
    transform: scale(1.2);
}