.App-container {
    min-height: 100vh;
    text-align: center;
    /*background: radial-gradient(circle, rgba(114, 188, 165, 1) 0%, rgba(241, 174, 43, 1) 79%, rgba(74, 37, 18, 1) 100%);
    */
    background-image: url('./images/1968.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 0;
}